@import './common/vars.sass'
@import './common/gem.scss'
@import 'popup-components.sass'
@import 'footer.sass'
@import 'thank-you.sass'
@import '404.sass'

*
    box-sizing: border-box

html, body
    width: 100%

body,
main
    overflow-x: hidden

body
    display: flex
    flex-direction: column
    font-family: var(--main-font)
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility
    &.mobile-menu-open
        overflow: hidden
    &.modal-active
        overflow: hidden

main
    position: relative
    width: 100%
    flex: 1 0 auto

.footer
    width: 100%
    flex: 0 0 auto

a
    text-decoration: none
    outline: none

img
    max-width: 100%
    height: 100%

section
    position: relative
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    // visibility: hidden

.fluid-container
    width: 100%
    position: relative

.container
    position: relative
    width: var(--container-width)
    min-width: var(--container-width)
    margin: 0 auto

.row
    display: flex
    flex-direction: row

.row-reverse
    display: flex
    flex-direction: row-reverse

.column
    display: flex
    flex-direction: column

.column-reverse
    display: flex
    flex-direction: column-reverse

.s-visible,
.xs-visible,
.xxs-visible
    display: none

.lazy
    opacity: 0
    transition: opacity 0.3s ease
    &Loaded
         opacity: 1
.opacity_none
    opacity: 0
input , textarea
    &::-webkit-input-placeholder,
    &::placeholder
        transition: all .3s
    &:focus
        &::-webkit-input-placeholder,
        &::placeholder
            color: transparent

button[type='submit']
    cursor: pointer

@media only screen and (max-width : 1024px)
    .s-hidden
        display: none

    .s-visible
        display: block

@media only screen and (max-width : 480px)

    body
        &.modal-active
            position: fixed

    .xxs-visible
        display: block

    .xxs-hidden
        display: none



//start here!
img
    width: 100%
    // height: auto
    display: flex
section
    display: flex
    width: 100%
.mobile-menu
    display: none
.button
    display: flex
    width: gem(247)
    height: gem(74)
    background: var(--color-red)
    justify-content: center
    align-items: center
    box-shadow: 0 gem(4) gem(34) rgba(3, 89, 118, 0)
    border-radius: gem(8)
    cursor: pointer
    transition: all 0.3s ease
    &:hover
        box-shadow: 0 gem(4) gem(34) rgba(3, 89, 118, 1)
        // transform: translateY(0)
    span
        display: flex
.header
    display: flex
    width: 100%
    background: var(--color-black-bgr)
    position: fixed
    top: 0
    left: 0
    z-index: 10
    &-main
        display: flex
        background: var(--color-black-bgr)
        width: 100%
        height: gem(80)
        align-items: center
        justify-content: space-between
        &-left, &-middle, &-left
            display: flex
        &-left
            width: gem(73)
            height: gem(35)
        &-middle
            a
                display: flex
                margin-right: gem(50)
                transition: all 0.3s ease
                &:hover
                    color: var(--color-red)
            a:last-child
                margin-right: 0
        &-right
            width: gem(88)
            flex-direction: row
            img
                width: gem(27)
                height: gem(27)
                cursor: pointer
                transition: all 0.3s ease
                &.active
                    transform: translateX(gem(15))
            .burger
                display: none
                width: gem(24)
                height: gem(16)
                transition: all 0.3s ease
                &.active-menu
                    margin-top: gem(20)
                    .burger-line
                        &:before
                            opacity: 0
                            transform: rotate(90deg)
                            top: 0
                            // width: gem(35)
                        &:after
                            // width: gem(35)
                            transform: rotate(90deg)
                            top: 0
                            left: gem(0)
                        transform: rotate(45deg)
                &-line
                    background: var(--color-white)
                    display: block
                    width: gem(24)
                    height: gem(1)
                    background: var(--color-white)
                    position: absolute
                    right: gem(5)
                    transition: all 0.3s ease
                    &:before
                        content: ''
                        display: block
                        width: gem(24)
                        height: gem(1)
                        background: var(--color-white)
                        position: absolute
                        top: gem(9)
                        opacity: 1
                        right: gem(0)
                        transition: all 0.3s ease
                    &:after
                        content: ''
                        display: block
                        width: gem(24)
                        height: gem(1)
                        background: var(--color-white)
                        position: absolute
                        top: gem(18)
                        right: gem(0)
                        transition: all 0.3s ease
.opening
    height: gem(872)
    margin-top: gem(28)
    background: url(../img/opening.png) no-repeat
    background-position: gem(0) gem(-150)
    background-size: cover
    position: relative
    &-main
        display: flex
        margin-left: gem(50)
        margin-top: gem(280)
        flex-direction: column
    p
        display: flex
        max-width: gem(457)
        margin-top: gem(11)
        margin-bottom: gem(46)
    &-img
        display: flex
        position: absolute
        left: gem(139)
        bottom: gem(22)
        img
            width: gem(22)
            height: gem(50)
.products
    &-main
        display: flex
        flex-wrap: wrap
        width: 100%
        &-element
            display: flex
            justify-content: center
            align-items: center
            width: 50%
            height: gem(450)
            position: relative
            transition: ease all 0.3s
            img
                width: gem(355.5)
                height: gem(430)
                transition: ease all 0.3s
                // mix-blend-mode: lighten
            &-card
                display: flex
                flex-direction: column
                align-items: center
                max-width: gem(265)
                position: absolute
                right: gem(150)
                top: gem(80)
                opacity: 0
                transition: ease all 0.3s
                p
                    display: flex
                    margin-top: gem(10)
                    text-align: center
                    margin-bottom: gem(20)
                .button
                    background: var(--color-black-bgr)
                    // box-shadow: 0 gem(4) gem(34) rgba(25, 25, 25, 0.2)
                    margin-top: gem(22)
        &-element:hover
            img
                transform: translateX(gem(-151))
                transition: ease all 0.3s
            .products-main-element-card
                opacity: 1
                transition: ease all 0.3s
        &-element:nth-child(1)
            background: #5C94CA
        &-element:nth-child(2)
            background: #8876B7
        &-element:nth-child(3)
            background: #50AE60
        &-element:nth-child(4)
            background:  #EA7083
        &-element:nth-child(5)
            background: #FC9540
        &-element:nth-child(6)
            background: #586BB2
        &-element:nth-child(7)
            background: #956488
        &-element:nth-child(8)
            background: #2F834E
        &-element:nth-child(9)
            background: #F35349
        &-element:nth-child(10)
            background: #FFC43A
        &-element:nth-child(11)
            background: #A94741

            
            
.about
    &-main
        display: flex
        width: 100%
        height: gem(800)
        padding: 0 gem(200)
        &-text
            display: flex
            flex-direction: column
            width: 50%
            justify-content: center
            p
                display: flex
                margin-top: gem(18)
            h2, p
                max-width: gem(495)
        &-pics
            display: flex
            width: 50%
            align-items: center
            img
                width: 100%
                height: auto
.about:nth-child(even)
    .about-main
        flex-direction: row-reverse
        &-text
            padding-left: gem(105)
.proposal
    &-main
        display: flex
        width: 100%
        height: gem(900)
        background: url(../img/proposal.png) no-repeat
        background-size: cover
        &-text
            display: flex
            flex-direction: column
            width: 50%
            padding-left: gem(200)
            padding-top: gem(228)
            p
                display: flex
                margin-top: gem(18)
                &.desc-1.black
                    color: #04004D
            h2, p
                max-width: gem(495)
            .button
                margin-top: gem(32)
.advantages
    &-main
        display: flex
        flex-wrap: wrap
        width: 100%
        &-element
            display: flex
            flex-direction: column
            width: 50%
            height: gem(450)
            transition: ease all 0.3s
            padding-left: gem(200)
            padding-top: gem(85)
            position: relative
            h3
                max-width: gem(407)
            &-img
                display: flex
                width: gem(80)
                height: gem(80)
                justify-content: center
                align-items: center
                margin-bottom: gem(25)
                border-radius: gem(22)
            img
                width: gem(32)
                height: auto
            &-card
                display: flex
                flex-direction: column
                max-width: gem(407)
                opacity: 0
                transition: ease all 0.3s
                margin-top: gem(10)
                .button
                    background: var(--color-black-bgr)
                    // box-shadow: 0 gem(4) gem(34) rgba(25, 25, 25, 0.2)
                    margin-top: gem(22)
            .circle-arrow
                display: flex
                justify-content: center
                align-items: center
                width: gem(46)
                height: gem(46)
                border-radius: gem(46)
                position: absolute
                right: gem(100)
                bottom: gem(71)
                transition: ease all 0.3s
                img
                    width: gem(14)
                    height: gem(14)


        &-element:nth-child(1)
            .circle-arrow
                background: var(--color-arrow-bgr)
            .advantages-main-element-img
                background: var(--color-white-blue-bgr)
        &-element:nth-child(2)
            .circle-arrow
                background: var(--color-white)
            .advantages-main-element-img
                background: var(--color-gray-bgr)
        &-element:nth-child(3)
            .circle-arrow
                background: var(--color-white)
            .advantages-main-element-img
                background: var(--color-white-blue-little-bgr)
        &-element:nth-child(4)
            .circle-arrow
                background: var(--color-arrow-bgr)
            .advantages-main-element-img
                background: var(--color-white-pink-little-bgr)
        &-element:nth-child(even)
            padding-left: gem(192)
        &-element:hover
            .advantages-main-element-card
                opacity: 1
                transition: ease all 0.3s
            .circle-arrow
                transform: rotate(90deg)
                transition: ease all 0.3s
        &-element:nth-child(1)
            background: var(--color-white)
        &-element:nth-child(2)
            background: var(--color-white-blue-bgr)
        &-element:nth-child(3)
            background: var(--color-white-pink-bgr)
        &-element:nth-child(4)
            background: var(--color-white)
@media only screen and (max-width : 1024px)
    .header
        .container
            margin: unset
            width: 100%
        &-main
            padding: 0 gem(32)
            width: 100%
            &-middle
                display: none
            &-right
                display: flex
                align-items: center
                justify-content: flex-end
                img
                    margin-right: gem(40)
                .burger
                    display: flex
                    position: relative
    .mobile-menu
        display: flex
        height: 100vh
        z-index: 8
        width: 100%
        flex-direction: column
        align-items: center
        justify-content: center
        position: fixed
        right: -100%
        transition: all 0.3s ease
        background: #fff
        top: 0
        &.active
            right: 0
        a
            margin: gem(20) 0
    .opening
        background: url(../img/opening1024.png) no-repeat
        background-size: cover
        margin-top: gem(73)
        height: gem(950)
        &-img
            display: none
        &-main
            margin-left: 0
            align-items: center
            position: relative
            margin-top: gem(153)
            h1, p
                text-align: center
            h1
                max-width: gem(560)
            p
                max-width: gem(457)
            .button
                margin: 0
                position: absolute
                bottom: gem(-415)
    .products
        &-main
            &-element
                width: 100%
                img
                    transform: translateX(gem(-133))
                    transition: ease all 0.3s
                &-card
                    opacity: 1
                    transition: ease all 0.3s
                    right: gem(118)
                    top: gem(76)
            &-element:hover
                img
                    // transform: unset
    .about-main
        flex-direction: column
        padding: 0 gem(70)
        &-text
            width: 100%
            padding: 0
            padding-top: gem(50)
            padding-left: gem(70)
        &-pics
            width: 100%
            margin-top: gem(50)
            height: gem(735)
    .about:nth-child(even)
        .about-main
            flex-direction: column
            &-pics
                margin-bottom: gem(50)
    .proposal-main
        justify-content: center
        background: url(../img/proposal1024.png) no-repeat
        background-size: cover
        height: gem(1024)
        position: relative
        &-text
            width: 100%
            padding-top: gem(60)
            padding-left: 0
            align-items: center
            max-width: gem(429)
            h2, p
                text-align: center
            .button
                margin: 0
                position: absolute
                bottom: gem(155)
    .advantages-main-element
        width: 100%
    .advantages-main-element-card
        opacity: 1
@media only screen and (max-width : 480px)
    .opening
        background: url(../img/opening480.png) no-repeat
        background-size: cover
        height: gem(732)
        margin-top: gem(80)
        &-main
            margin-top: gem(35)
            h1, p
                max-width: gem(325)
            br
                display: none
            .button
                bottom: gem(-370)
    .proposal-main
        background: url(../img/proposal480.png) no-repeat
        background-size: cover
        background-position: center center
    .products-main-element
        height: auto
        justify-content: flex-start
        align-items: center
        flex-direction: column
        padding-bottom: gem(100)
        img
            transform: unset
            margin-top: gem(45)
        &:hover
            img
                transform: unset

        &-card
            position: relative
            right: unset
            top: gem(45)
    .about-main
        padding: 0
        height: auto
        &-text
            padding-left: gem(32)
            padding-right: gem(32)
            padding-top: gem(63)
        &-pics
            height: auto
            img
                height: gem(450)
                object-fit: cover
            // padding-left: gem(32)
            // padding-right: gem(32)
    .about:nth-child(even)
        .about-main
            &-text
                padding-left: gem(32)
                padding-right: gem(32)
                padding-top: gem(63)
    .advantages-main-element, .advantages-main-element:nth-child(even)
        padding-left: gem(32)
        padding-right: gem(32)
    .advantages-main-element .circle-arrow
        display: none
    .footer-contains-top
        flex-direction: column
        align-items: center
    .footer-middle
        margin-top: gem(25)
        ul li
            display: flex
            justify-content: center
    .footer-right
        p.label-3
            display: none
        p:nth-child(2)
            display: flex
            flex-direction: column
            align-items: center
            margin-bottom: gem(24)
    .footer
        padding-top: gem(64)
    .footer-contains-bottom
        flex-direction: column-reverse
        align-items: center
        margin-top: gem(46)
        .social
            margin-bottom: gem(18)