.buscet
	display: flex
	flex-direction: column
	position: fixed
	right: -100%
	overflow-y: scroll
	top: 0
	width: 50%
	background: #fff
	// z-index: 11
	height: 100vh
	padding: gem(135) gem(50)
	transition: all 0.3s ease
	&.active
		right: 0
	&-topline	
		display: flex
		flex-direction: row
		align-items: center
		justify-content: space-between
		padding:
		.close
			width: gem(46)
			height: gem(46)
			display: flex
			justify-content: center
			align-items: center
			background: #F6F8FC
			border-radius: 50%
			cursor: pointer
			img
				width: gem(13)
	&-main
		display: flex
		flex-direction: column
		margin-top: gem(28)
.form
	&-product
		display: flex
		margin-bottom: gem(30)
		transition: all 0.3s ease
		&.inactive
			transform: translateX(gem(-15))
			opacity: 0
			pointer-events: none
			position: absolute
		&-left
			display: flex
			align-items: center
			justify-content: center
			width: gem(300)
			height: gem(240)
			position: relative
			background: #EEF9FE
			.remove
				position: absolute
				width: gem(30)
				display: flex
				align-items: center
				justify-content: center
				cursor: pointer
				height: gem(30)
				background: #191919
				border-radius: 50%
				top: gem(22)
				right: gem(22)
				svg
					width: gem(11.5)
					path
						stroke: #ffffff
			img
				display: flex
				width: gem(50)
		&-right
			margin-left: gem(40)
			display: flex
			flex-direction: column
			align-items: flex-start
			p
				margin-top: gem(30)
			.numbers
				display: flex
				flex-direction: row
				border: 1px solid #CFF0FF
				border-right: none
				border-left: none
				margin-top: gem(40)
				span, input
					display: flex
					font-size: gem(24)
					line-height: gem(23)
				input
					width: gem(70)
					align-items: center
					justify-content: center
					text-align: center
					border: none
					// appearance: none
					// margin: none
				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button
  					-webkit-appearance: none
  					margin: 0
				span
					display: flex
					align-items: center
					justify-content: center
					cursor: pointer
					width: gem(26)
					height: 100%
					background: #EEF9FE
					border: 1px solid #CFF0FF
					border-top: none
					border-bottom: none
	&-down
		display: flex
		flex-direction: row
		align-items: center
		justify-content: space-between
		// transition: all 0.3s ease
		position: absolute
		opacity: 0
		pointer-events: none
		&.active
			position: unset
			opacity: 1
			pointer-events: unset
		.total
			display: flex
		button.button
			background: var(--color-black-bgr)
			color: #FFF
		&.inactive
			transform: translateX(gem(-15))
			position: absolute
			opacity: 0
			pointer-events: none
	&-next-step
		position: absolute
		top: gem(200)
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: flex-start
		opacity: 0
		pointer-events: none
		transform: translateX(gem(15))
		transition: all 0.3s ease
		&.active
			opacity: 1
			pointer-events: unset
			transform: translateX(gem(0))
		input
			width: gem(390)
			height: gem(60)
			font-size: gem(18)
			line-height: gem(24)
			padding: 0 gem(20)
			border-radius: gem(5)
			border: 1px solid #A4ABB3
			outline: none
			margin-top: gem(5)
			margin-bottom: gem(15)
			&:focus
				border: 1px solid #16A6FC
		button
			margin-top: gem(35)
			outline: none
			color: #fff
			border: none
			outline: none
			background: var(--color-black-bgr)



.popup-on-buy
	width: 50%
	height: gem(225)
	background: #FBF1F4
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	position: fixed
	bottom: -100%
	right: 0
	z-index: 5
	transition: all 0.5s ease
	&.active
		bottom: 0
	.button
		background: var(--color-black-bgr)
		margin-bottom: gem(20)
	.continue
		text-decoration: underline
		cursor: pointer
